
.bgimg {
          background-color: lightpink;
          min-height: 100%;
          background-size: cover;
          color: white;}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: lightpink;
}

ul {
  position: fixed;
  bottom: 0;
  width: 100%;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
img{ width:600px;
    height: 500px;
    padding: 15px 15px;
    border: 1px solid white;
    border-style:dotted
}

.center {
  padding: 10% 0;
  text-align: center;
}

.w3-display-topleft{position:absolute;left:0;top:0}

.w3-xlarge{font-size:24px!important}

.w3-padding-large{padding:12px 24px!important} 

